*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-barlow: "Barlow", sans-serif;
  --font-Fraunces: "Fraunces", serif;
  --soft-red: hsl(7, 99%, 70%);
  --yello: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* photography text*/
  --dark-moderate-cyan: hsl(168, 34%, 41%); /*footer*/
  --very-dark-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --grayish-blue: hsl(210, 4%, 67%);
}
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  margin: 0;
  text-align: center;
  font-family: var(--font-Fraunces);
}
h1 {
  font-size: clamp(2rem, 10vw, 2rem);
  padding-top: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.3ch;
  font-weight: 900;
  text-transform: uppercase;
}
a,
li {
  list-style: none;
  text-decoration: none;
}
a {
  color: var(--very-dark-grayish-blue);
}

p,
li > a {
  font-family: var(--font-barlow);
}
nav {
  display: flex;
  align-items: center;
}
.logo {
  margin: 1rem;
  display: flex;

  align-items: center;
}
.menu-btn {
  cursor: pointer;
  margin-left: 180px;
}
.menu {
  display: none;
}
.menu.active {
  position: absolute;
  top: 5rem;
  left: 1rem;
  background-color: #fff;
  width: 90%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu li {
  padding: 1rem;
}
.cta-btn {
  background-color: var(--yello);
  padding: 8px 15px;
  border-radius: 50px;
  font-family: var(--font-Fraunces);
  font-weight: 900;
}
header {
  color: #fff;
}
section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.text {
  order: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  color: var(--very-dark-blue);
}
.text h2 {
  font-size: 1.8rem;
  width: 80%;
}
.text p {
  width: 80%;
  line-height: 1.4;
}
.learn-btn {
  color: var(--very-dark-blue);
  text-align: left;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  padding: 0;
}
.learn-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  border-bottom: 7px solid var(--yello);
  border-radius: 5%;
}
p {
  font-size: 0.8rem;
}

@media screen and (max-width: 675px) {
  header {
    background: url(./images/mobile/image-header.jpg) no-repeat center/cover;
    width: 100%;
    height: 100vh;
  }
  #first-section {
    background: url(./images/mobile/image-transform.jpg) no-repeat center/cover;
    width: 100%;
    height: 50vh;
    order: 0;
  }
  #secound-section {
    background: url(./images/mobile/image-stand-out.jpg) no-repeat center/cover;
    width: 100%;
    height: 50vh;
    order: 0;
  }
  #graphic-design {
    background: url(./images/mobile/image-graphic-design.jpg) no-repeat
      center/cover;
    width: 100%;
    height: 100vh;
  }
  #photography {
    background: url(./images/mobile/image-photography.jpg) no-repeat
      center/cover;
    width: 100%;
    height: 100vh;
  }
  #image1 {
    background: url(./images/mobile/image-gallery-milkbottles.jpg) no-repeat
      center/cover;
    width: 100%;
    height: 50vh;
  }
  #image2 {
    background: url(./images/mobile/image-gallery-orange.jpg) no-repeat
      center/cover;
    width: 100%;
    height: 50vh;
  }
  #image3 {
    background: url(./images/mobile/image-gallery-cone.jpg) no-repeat
      center/cover;
    width: 100%;
    height: 50vh;
  }
  #image4 {
    background: url(./images/mobile/image-gallery-sugar-cubes.jpg) no-repeat
      center/cover;
    width: 100%;
    height: 50vh;
  }
}

#graphic-design {
  position: relative;
}
.graphic-text {
  position: absolute;
  top: 60%;
  color: var(--dark-cyan);
}

#photography {
  position: relative;
}
.photography-text {
  position: absolute;
  top: 65%;
  color: var(--dark-blue);
}
.photography-text p {
  padding: 1rem;
}
.testimonials h3 {
  color: var(--grayish-blue);
  text-transform: uppercase;
}
.card img {
  border-radius: 50%;
  width: 75px;
  letter-spacing: 0.5ch;
}
.card p {
  width: 80%;
  font-size: 0.8rem;
  color: var(--very-dark-grayish-blue);
  padding: 1rem;
  margin: 0 auto;
}
.name h3 {
  color: var(--very-dark-blue);
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
}
.name h5 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  font-family: var(--font-barlow);
  color: var(--grayish-blue);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer {
  background-color: var(--dark-moderate-cyan);
}
.footer-logo {
  padding-top: 2rem;
}
.footer-nav ul {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 1rem;
}
.footer-nav ul li {
  padding: 0 1rem;
}
.footer-nav a {
  color: hsl(167, 40%, 24%);
}
.social-media {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
