*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Dark-Cyan: hsl(192, 100%, 9%);
  --Dark-Blue: hsl(207, 100%, 98%);
  --Header-Font: "Poppins", sans-serif;
  --Body-Font: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
body {
  font-family: var(--Body-Font);
  color: var(--Dark-Cyan);
  text-align: center;
  margin: 0;
}

/* Header Style Mobile */
header {
  padding-bottom: 4rem;
}
nav {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 120px;
}
.try-it {
  color: var(--Pink);
  border: 2px solid var(--Pink);
  border-radius: 20px;
  padding: 0.3rem 0.9rem;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.hero {
  margin-top: 5rem;
}
.hero__title {
  font-family: var(--Header-Font);
  line-height: 1.2;
}
.hero__subtitle {
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 2rem;
}
.get-started {
  background: var(--Pink);
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  font-weight: 700;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Section 2 Screen Markup Mobile */

.screen-mockups {
  margin-top: 4rem;
}
.screen-mockups img {
  max-width: 100%;
}
.comunitet {
  margin: 0;
  padding-bottom: 5rem;
}
.comunitet img {
  max-width: 40px;
  margin-right: 95px;
}
.mockups-title {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}
.mockups-subtitle {
  font-weight: 400;
  margin: 0;
  color: hsla(192, 100%, 9%, 0.603);
}
.message-sent img {
  max-width: 40px;
  margin-right: 115px;
}

/* Selection grow-text Mobile */
.grow-together {
  margin: 6rem auto;
  background: var(--Dark-Blue);
  padding: 4rem 1rem;
  position: relative;
}
.grow-together::before {
  content: "";
  position: absolute;
  top: -16%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/bg-section-top-mobile-1.svg) no-repeat;
  background-size: 100%;
}

.grow-together::after {
  content: "";
  position: absolute;
  bottom: -98%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/bg-section-bottom-mobile-1.svg) no-repeat;
  background-size: 100%;
}
.grow-text {
  padding-top: 3rem;
}
.grow-text p {
  font-weight: 400;
  line-height: 1.4;
}

/* Selection flowing mobile */

.flowing {
  margin: 6rem auto;
}
.flowing img {
  width: 70%;
  padding-bottom: 3rem;
}

/* selection users mobile */

.your-users {
  margin: 12rem auto;
  background: var(--Dark-Blue);
  padding: 6rem 1rem;
  position: relative;
}
.your-users img {
  padding-bottom: 1.5rem;
}
.your-users::before {
  content: "";
  position: absolute;
  top: -16%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/bg-section-top-mobile-2.svg) no-repeat;
  background-size: 100%;
}

.your-users::after {
  content: "";
  position: absolute;
  bottom: -98%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/bg-section-bottom-mobile-2.svg) no-repeat;
  background-size: 100%;
}
.users-text {
  line-height: 1.4;
}

/* seleciton redy mobile */
.ready h2 {
  padding-bottom: 2rem;
}
/* footer mobile */

footer {
  margin: 12rem auto 0 auto;
  background: var(--Dark-Cyan);
  color: white;
  position: relative;
  padding-top: 2rem;
  overflow: hidden;
}
footer::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/bg-footer-top-mobile.svg) no-repeat;
  background-size: 100%;
}
.newsletter {
  text-align: left;
  padding: 0 2rem;
}
.newsletter input {
  width: 100%;
  padding: 7px;
}
.form button {
  margin-top: 1rem;
  margin-left: 73%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  background-color: var(--Pink);
  color: white;
}
.lorem {
  margin-top: 3rem;
  padding-left: 2rem;
}
.lorem svg {
  width: 100%;
  height: 50px;
}
#ipsum {
  width: 95%;
  color: white;
}
.info {
  padding-left: 2rem;
}
.info img {
  width: 5%;
  height: 5%;
  object-fit: cover;
  margin-right: 1rem;
}
.phone,
.email {
  display: flex;
  align-items: center;
}
